@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/*Solution used flex 1, align items center, and flex direction column*/
.header {display: flex;
  justify-content: space-between;
}

.content {display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.left-links, .right-links {display: flex;
  padding: 15px;
  gap: 15px;
}

