body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  padding: 0 16px;
  display: flex;
  align-items: center;
}

.main {display: flex;
  flex-grow: 1;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  padding: 16px;
  max-width: 300px;
  flex-shrink: 0;
}

ul {list-style-type: none;
padding: 0;
display: flex;
flex-direction: column;
row-gap: 15px;
/*Esto remueve el padding automático en elementos contenidos dentro de un flexbox*/
margin: 0;
padding: 0;
}

a {text-decoration: none;
  color: white;
}

li {height: 24px;}

.content {display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 32px;
  gap: 20px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 10px;
  height: 200px;
  width: 250px;
}

/*
### Self Check
- The header text is vertically centered and 16px from the edge 
of the screen. CHECK
*/